// ==========================================================================//
//
// [Styles of styleguide]
//
// @author Koichi Nagaoka
//
// ==========================================================================//

.styleguide

  &__container
    display: flex
    align-items: center
    justify-content: flex-start
    width: 100%
    padding: 16px

    &--grayscale001
      background-color: $color_grayscale001

    &--scrollX
      overflow-x: scroll
      justify-content: flex-start
