//- Specify layout template.
extends ../layouts/application

//- Declarations of variable for meta or using JavaScript.
block append vars
  - var title = 'TODO: Title';
  - var description = 'TODO: Description';
  - var canonical = '';
  - var stylesheets  = ['main'];
  - var headScripts = [];
  - var tailScripts = [];

//- Following are contents of inner body.
block content
