//- Specify layout template.
extends ../../layouts/application

//- Declarations of variable for meta or using JavaScript.
block append vars
  - var title = '404';
  - var description = '';
  - var canonical = '';
  - var stylesheets  = ['main'];
  - var head_scripts = [];
  - var tail_scripts = [];

//- Following are contents of inner body.
block content
