// ==========================================================================//
//
// [Atoms - Breakpoints]
//
// @author Koichi Nagaoka
//
// ==========================================================================//

// SPのブレイクポイント
$breakpoint_sp: 768px
