// ==========================================================================//
//
// [Atoms - COLORS]
//
// @author Koichi Nagaoka
//
// ==========================================================================//

// ------------------------------
// Often use colors
// ------------------------------
$color_white: #fff
$color_black: #000

// ------------------------------
// Text colors
// ------------------------------
$color_text_default: #333
