// ==========================================================================//
//
// [Display variables]
//
// ==========================================================================//

// SP breakpoint
$breakpoint_sp: 768px

// Tablet breakpoint
$breakpoint_tab: 1024px

// -----------------------------------
// dpi
// -----------------------------------

$display_ratio1_dpi: 96dpi
$display_ratio2_dpi: 192dpi
$display_ratio3_dpi: 288dpi
