// ==========================================================================//
//
// [Atoms - Fonts]
//
// @author Koichi Nagaoka
//
// ==========================================================================//

$font_body_size: 16
$font_body_typeface: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif
$font_default_line_height: 1.6
