// ==========================================================================//
//
// [Atoms - Fonts]
//
// @author Koichi Nagaoka
//
// ==========================================================================//

$font_default_size: 1.6rem
$font_body_typeface: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif
$font_ascii_typeface: "-apple-system", "BlinkMacSystemFont", "Arial"
$font_default_line_height: 1.6
