// ==========================================================================//
//
// [ページレイアウト]
//
// レイアウトを構成するスタイル。
// Atomic Designにおける Templates に該当するスタイルを定義する。
//
// @author Koichi Nagaoka
//
// ==========================================================================//
