//- Specify layout template.
extends ../layouts/application

//- Declarations of variable for meta or using JavaScript.
block append vars
  - var title = 'TODO: Title';
  - var description = 'TODO: Description';
  - var canonical = '';
  - var stylesheets  = [];
  - var head_scripts = [];
  - var tail_scripts = [];

//- Following are contents of inner body.
block content
