// ==========================================================================//
//
// [Icon fonts]
//
// ==========================================================================//
@font-face
  font-family: 'example'
  font-weight: normal
  font-style: normal
  font-display: swap
  src: url('../../iconfonts/*.svg')
